# Add any directories, files, or patterns you don't want to be tracked by version control
_git.vbs
bin/
bkp/
data_store/

!projects/
projects/*
!projects/daily_snapshots/
projects/daily_snapshots/*
!projects/daily_snapshots/*.xlsm
!projects/daily_snapshots/*.xls
!projects/daily_snapshots/data/
projects/daily_snapshots/data/*
!projects/daily_snapshots/settings/
projects/daily_snapshots/settings/*
!projects/daily_snapshots/settings/*.ini

!projects/
projects/*
!projects/prepare_data/
projects/prepare_data/*
!projects/prepare_data/*.xlsm
!projects/prepare_data/*.xls
!projects/prepare_data/data/
projects/prepare_data/data/*
!projects/prepare_data/settings/
projects/prepare_data/settings/*
!projects/prepare_data/settings/*.ini

~$*.xlsm
~$*.xlsx
~$*.docx
~$*.xls
~$*.doc
~*.tmp
