# Add any directories, files, or patterns you don't want to be tracked by version control
_git.vbs
bin/
bkp/
!data
data/*
!data/daily_snapshots/
data/daily_snapshots/*
!data/daily_snapshots/input/
data/daily_snapshots/input/*
!data/daily_snapshots/input/test.txt

~$*.xlsm
